body {
    background-color: lightblue;
}


.obrázky img {
    max-width: 250px;
    max-height: 300px;
    align-items: space-between;
    align-items: center;
    flex-direction: row;
    object-fit: cover;
    border-radius: 10px;
}


.obrázky {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

div{
    
    font-family: "comic sans MS", cursive, sans-serif;
    text-align: center;
    color: darkblue;
}

.page {
    border-right: 10vmin darkblue solid;
    border-left: 10vmin darkblue solid;
}